@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* HEADER SECTION*/
section.header-bar {
  background-color: #52759e;
  height: 50px;
  width: 100%;
  justify-content: right;
  color: white;
  position: fixed;
  z-index: 99;
}

/* FOOTER SECTION*/
section.footer-bar {
  background-color: #52759e;
  height: 50px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  justify-content: right;
  color: white;
  position: fixed;
  z-index: 99;
}

/* FONDO CON GRADIENT : LOGIN/REGISTER */
body.background-login-register {
  background: radial-gradient(
    circle at top left,
    #fff,
    rgb(171, 202, 231),
    rgb(255, 255, 255)
  ) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/******************************************/
/******************************************/
/******************************************/
/******************************************/

/* FORMULARIO-LOGIN */
form.login-form {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  margin: 80px 0px 0px 0px;
  text-align: center;
}
/* FORMULARIO-LOGIN : LOGIN-IMG*/
img.login-img {
  width: 200px;
  height: 100px;
  margin: 0px 10px 0px 10px;
}
img.powered-img {
  width: 100px;
  height: 50px;
  margin: 0px 0px 0px 0px;
}
/* FORMULARIO-LOGIN : LOGIN-TEXT */
label.login-text {
  color: #52759e;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-top: 12px;
}

/* FORMULARIO-LOGIN : LOGIN-FIELD */
input.login-field {
  border: none;
  border-radius: 8px;
  width: 75%;
  padding: 4px 15px 4px 15px;
  margin: 0px 0px 10px 0px;
  background-color: rgb(243, 243, 243);
}

/* FORMULARIO-LOGIN : REMEMBER-ME-BOX */
input.remember-me-box {
  margin-right: 5px;
  display: inline-block;
}
/* FORMULARIO-LOGIN : REMEMBER-ME-TEXT */
label.remember-me-text {
  color: #5784ba;
}

/******************************************/
/******************************************/
/******************************************/
/******************************************/

/* FORMULARIO-REGISTER */
form.register-form {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 80px 10px 80px;
  margin: 80px 0px 0px 0px;
  text-align: center;
}
/* FORMULARIO-REGISTER : REGISTER-IMG*/
img.register-img {
  width: 100px;
  height: 100px;
  margin: 0px 10px 40px 0px;
}
/* FORMULARIO-REGISTER : REGISTER-TEXT */
label.register-text {
  color: #52759e;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-top: 12px;
}

/* FORMULARIO-REGISTER : REGISTER-FIELD */
input.register-field {
  border: none;
  border-radius: 8px;
  width: 95%;
  padding: 4px 15px 4px 15px;
  margin: 0px 0px 10px 0px;
  background-color: rgb(243, 243, 243);
}


/* FORMULARIO-REGISTER : REMEMBER-ME-BOX */
input.remember-me-box {
  margin-right: 5px;
}
/* FORMULARIO-REGISTER : REMEMBER-ME-TEXT */
label.remember-me-text {
  color: #5784ba;
}

/* HOME : COMPONENT - CONTAINER*/
section.home-component {
  background-color: #f5f5f5;
  border-radius: 6px;
  position: relative;
  height: 200;
  width: 100;
  margin: 25px 0 10px 0;
  padding: 25px;
}

/* HOME : CONTAINER - 1 - chart.js - 1 */
section.home-chart-1 {
  background-color: #f5f5f5;
  border-radius: 6px;
  position: relative;
  height: 200;
  width: 100;
  padding: 25px;
}

/* HOME : CONTAINER - 2 - chart.js - 2  */
section.home-chart-2 {
  background-color: #f5f5f5;
  border-radius: 6px;
  position: relative;
  height: 200;
  width: 100;
  padding: 25px;
}
/* HOME : CONTAINER - 3 - chart.js - 3  */
section.home-chart-3 {
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 25px;
  position: relative;
  padding: 25px;
}

/******************************************/
/******************************************/
/******************************************/
/******************************************/

/* COMPONENTES GLOBALES */
/* BUTTON */
.button {
  border: none;
  border-radius: 5px;
  padding: 6px 10% 6px 10%;
  background-color: #5784ba;
  color: white;
}

h4.ingresar-txt {
  color: #52759e;
  font-weight: 600;
  font-size: 28px;
}
