<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />

    <link rel="stylesheet" href="/./View/css/style.css" />

    <title> Register - AMService web </title>
</head>

<body>
    <!-- HEADER -->
    <header class="container-fluid">
        <section class="row header-bar">
            <h3>hamburguer</h3>
        </section>

    </header>

    <!-- CUERPO -->
    <section class="container">
        <section class="row">
            <div class="col-3"></div>

            <div class="col-6">
                <!--Contenedor de formulario de login-->
                <section class="container">

                    <form action="/./View/navigation/home.html" class="register-form">

                        <img class="register-img" src="/./View/resources/images/LOGO AM Square.jpg" alt=""> <br>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <label class="register-text" for="username">Nombre:</label>
                                    <input class="register-field" type="text" id="name-register" name="name-register"
                                        value="" />
                                </div>
                                <div class="col-6">
                                    <label class="register-text" for="username">Apellido:</label>
                                    <input class="register-field" type="text" id="lastname-register"
                                        name="lastname-register" value="" />
                                </div>


                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6">

                                    <label class="register-text" for="username">Email:</label>
                                    <input class="register-field" type="text" id="email-register" name="email-register"
                                        value="" />
                                </div>
                                <div class="col-6">

                                    <label class="register-text" for="username">Repetir email:</label>
                                    <input class="register-field" type="text" id="remail-register"
                                        name="remail-register" value="" />
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6">

                                    <label class="register-text" for="username">Rut:</label>
                                    <input class="register-field" type="text" id="rut-register" name="rut-register"
                                        value="" />
                                </div>
                                <div class="col-6">

                                    <label class="register-text" for="username">Fecha de nacimiento:</label>
                                    <input class="register-field" type="date" id="datebirth-register"
                                        name="datebirth-register" value="" />
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6">

                                    <label class="register-text" for="username">Contrasena:</label>
                                    <input class="register-field" type="text" id="password-register"
                                        name="password-register" value="" />
                                </div>
                                <div class="col-6">

                                    <label class="register-text" for="username">Repetir contrasena:</label>
                                    <input class="register-field" type="text" id="repassword-register"
                                        name="repassword-register" value="" />
                                </div>

                            </div>
                            <br>


                            <input class="remember-me-box" type="checkbox" name="remember-me" id="remember-me"><label
                                class="remember-me-text" for="password"> Acepto los terminos, condiciones y todo el
                                show.</label>
                            <br>
                            <br>

                            <input class="button" type="submit" value="Registrarme" />
                        </div>
                        <!-- TO DO -->
                        <!-- LINK DE DIRECCION AL FOMRULARIO DE REGISTRO -->
                    </form>


                </section>
            </div>
            <div class="col-3"></div>
        </section>
    </section>

</body>

</html>